<h3>Agregar <small>{{nuevo.nombre}}</small></h3>
<hr>
<form (ngSubmit)="agregar()">
  <input placeholder="Nombre" type="text" name="nombre" #nombre [(ngModel)]="nuevo.nombre">
  <input placeholder="Poder" type="number" name="poder" #poder [(ngModel)]="nuevo.poder">
  <button type="submit">Agregar</button>
</form>
