<p>Listado de heroes</p>

<div *ngIf="nomBorrado; else noBorrado">
  <h3>Heroe Borrado: <small>{{nomBorrado}}</small></h3>
</div>

<ng-template #noBorrado><h3>Aun no ha borrado nada...</h3></ng-template>


<button (click)="borrar()">Borrar Heroe</button>

<ul>
  <li *ngFor="let data of heroes">{{data}}</li>
</ul>


